/*Estilos de Login*/

.contenido {
    border: 2px #000 solid;
    border-radius: 5px;
    margin: 30px;
}

.titulo {
    background-color: gray;
    border-bottom: 2px #000 solid;
    border-top-left-radius: 2px;
    text-align: center;
}

.titulo h2{
    margin: 0px;
}

.contenido form {
    margin: 20px;
    padding: 5px;
    /*background-color: brown;*/
    flex: auto;
    flex-direction: column;
}

.contenido form div {
    margin: 5px;
}

.contenido form label {
    font-weight: bold;
    text-align: left;
}

.contenido form input {
    border: 1px solid;
    border-radius: 5px;
}

form button{
    margin-top: 20px;
    color: green;
    background-color: #fff;
    border: 2px green solid;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}

